* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

/* header */

header {
    height: auto;
    opacity: 1;
}

.dropdown-menu {
    font-size: 14px;
    border: none;
}

.navbar-collapse ul li a:hover {
    color: #8742B6 !important;
}

.navbar-brand {
    font-size: 30px !important;
}

.row {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* wrapper-product */

.wrapper-product {
    padding: 100px 0px 100px;
    margin-top: -30px;
    background-color: white;
}

/* Featured product */

.featured-products {
    background-color: lavender;
}

.featured-product-title {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 10px;
    padding-bottom: 20px;
    background-color: white;
    width: 100%;
    margin-bottom: 100px;
}

.featured-product-title p {
    letter-spacing: 4px;
    font-size: 46px;
    font-weight: 300;
}

/*  */

.featured-product {
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    padding: 0;
    width: 100%;
    transition: .5s ease;
    cursor: pointer;
}

.featured-product img {
    max-width: 100%;
    height: auto;
}

.featured-product:hover img {
    opacity: 0.3;
    cursor: pointer;
}

.featured-product:hover .infor-product {
    opacity: 1;
}

.featured-product img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .7s ease;
}

.infor-product {
    opacity: 0;
    position: absolute;
    transition: .7s ease;
    width: 100%;
    top: 40%;
    height: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.infor-product a {
    padding: 10px 15px;
    font-size: 10px;
    text-decoration: none;
    color: black;
    background: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: .9s ease;
}

.infor-product a:hover {
    color: white;
    background: #000;
}

.sale-product {
    color: white;
    background: #E74C3C;
    font-size: 10px;
    position: absolute;
    top: 20px;
    padding: 5px 14px;
    border-radius: 3px;
    font-weight: bold;
    margin-left: 15px;
}

/* features-shop */

.feature-shop input {
    width: 80%;
    border: 1px solid #7f7f7f;
    /* border-right: none; */
}
.feature-shop button {
    width: 20%;
    background: #2196F3;
    color: white;
    border-left: none;
    
    border: none;
    /* Prevent double borders */
    cursor: pointer;
}

/* ranger */

.input-group input {
    border: 1px solid #ced4ea;
}

/* ranger */

.sells-product {
    margin-top: 100px;
}

.sells-product ul li {
    display: flex;
    margin-top: 15px;
}

.sells-product ul li img {
    max-width: 30%;
    margin-right: 3%;
}

.sells-product ul li a {
    color: black;
    font-weight: bold;
}

.ranger-price {
    margin-top: 50px;
}


/* news-slide */

.news-slide{
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}
.item img{
    width: 100%;
    height: 30%;
    margin: auto;
}
.item span{
    font-weight: bold;
}
.news-title{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* news-slide */
/* footer */

footer {
    background: #f4f4f4;
    padding-top: 100px;
    padding-bottom: 100px;
}

footer .list-footer {
    margin-top: 20px;
}

.list-footer ul {
    list-style: none;
}

.list-footer ul li {
    margin-top: 5px;
    font-size: 14px;
}

.list-footer-recent {
    margin-top: 20px;
}

.list-footer-recent ul li {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-size: 14px;
}

.list-footer-recent ul li a {
    color: #222222;
}

.list-footer-recent ul li span {
    margin-top: 5px;
    color: #7f7f7f !important;
}

/* recent-product */

.list-footer-recent-products {
    margin-top: 20px;
}

.list-footer-recent-products ul li {
    display: flex;
    margin-top: 15px;
    padding: 15px 0px 0px 0px;
}

.list-footer-recent-products a {
    color: #222222;
}

.list-footer-recent-products ul li span {
    color: #7f7f7f;
}

.list-footer-recent-products ul li img {
    max-width: 20%;
    margin-right: 5%;
}

.why-us ul li {
    margin-top: 20px;
}

/* CATEGORIES */

/* button */

/* button */

#myBtn {
    height: 50px;
    width: 50px;
    font-size: 25px;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #777777;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    /* Some padding */
    border-radius: 50%;
    /* Rounded corners */
    /* Increase font size */
    transition: .10s ease;
    opacity: 0.3;
}

#myBtn:hover {
    background-color: #007BFF;
    /* Add a dark-grey background on hover */
    opacity: 1;
}

/* reponsive */

@media all and (max-width:992px) {
    .form-control {
        width: 80% !important;
    }
    .form-inline {
        width: 90% !important;
        margin: auto !important;
    }
    .dropdown-menu {
        background-color: white !important;
        text-align: center;
    }
    .nav-item {
        text-align: center !important;
        margin-right: 0 !important;
    }
    .sell-product ul li img {
        max-width: 50%;
        margin-right: 3%;
    }
}

@media all and (max-width:1200px) {
    .new-season-notify div {
        padding-top: 30px !important;
    }
}