* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
}

.main {
    height: 5000px;
    background: url('../assests/bg-pages.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* opacity: 0.5; */
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

/* header */

header {
    height: auto;
    opacity: 1;
}

.dropdown-menu {
    font-size: 14px;
    border: none;
}

.navbar-collapse ul li a:hover {
    color: #8742B6 !important;
}

.collapse ul {}

.navbar-brand {
    font-size: 30px !important;
}

/* type animation */

.type-animation {
    height: 500px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 72px !important;
    padding-top: 150px;
}

.type-animation div {
    padding-top: 100px;
    text-align: center;
    display: block;
}

#welcome-shop {
    font-size: 63px !important;
    color: white;
    font-weight: 700;
    display: block;
}

.btn-go-shopping {
    text-align: center;
    margin-top: -20px;
}

.btn-go-shopping a {
    color: white !important;
    background-color: #818a91;
    padding: 22px 45px 22px 45px;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.57);
}

.btn-go-shopping a:hover {
    background-color: #8742B6;
}

/* reponsive */

@media all and (max-width:992px) {
    .form-control {
        width: 80% !important;
    }
    .form-inline {
        width: 90% !important;
        margin: auto !important;
    }
    .dropdown-menu {
        background-color: white !important;
        text-align: center;
    }
    .nav-item {
        text-align: center !important;
        margin-right: 0 !important;
    }
}