* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    height: 5000px;
    background: url('../assests/bg-pages.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

/* header */

header {
    height: 1000px;
}

.dropdown-menu {
    font-size: 14px;
    border: none;
}

.navbar-collapse ul li a:hover {
    color: #8742B6 !important;
}

/* reponsive */

@media all and (max-width:992px) {
    .form-control {
        width: 80% !important;
    }
    .form-inline {
        width: 90% !important;
        margin: auto !important;
    }
    .dropdown-menu {
        background-color: white !important;
        text-align: center;
    }
    .nav-item {
        text-align: center !important;
    }
}