* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
}

.main {
    height: 5000px;
    background: url('../assests/bg-pages.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* opacity: 0.5; */
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

/* header */

header {
    height: auto;
    opacity: 1;
}

.dropdown-menu {
    font-size: 14px;
    border: none;
}

.navbar-collapse ul li a:hover {
    color: #8742B6 !important;
}

.collapse ul {}

.navbar-brand {
    font-size: 30px !important;
}

/* type animation */

.type-animation {
    height: 500px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 72px !important;
    padding-top: 150px;
}

.type-animation div {
    padding-top: 100px;
    text-align: center;
    display: block;
}

#welcome-shop {
    font-size: 63px !important;
    color: white;
    font-weight: 700;
    display: block;
}

.btn-go-shopping {
    text-align: center;
    margin-top: -20px;
}

.btn-go-shopping a {
    color: white !important;
    background-color: #818a91;
    padding: 22px 45px 22px 45px;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.57);
}

.btn-go-shopping a:hover {
    background-color: #8742B6;
}

.row {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* wrapper-product */

.wrapper-product {
    padding: 30px 0px 40px;
    margin-top: -30px;
}

/* Featured product */

.featured-products {
    background-color: white;
}

.featured-product-title {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 10px;
    padding-bottom: 20px;
}

.featured-product-title p {
    letter-spacing: 4px;
    font-size: 36px;
    font-weight: 300;
}

.featured-product-title span {
    letter-spacing: 7px;
    font-size: 14px;
    margin-top: 15px;
    color: #b2b2b2;
}

.featured-product-list {
    justify-content: space-around;
    padding: 30px 0 40px;
}

.featured-product-list .featured-product {
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    padding: 0;
    width: 100%;
    transition: .5s ease;
    cursor: pointer;
}

.featured-product:hover img {
    opacity: 0.3;
    cursor: pointer;
}

.featured-product:hover .infor-product {
    opacity: 1;
}

.featured-product img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .7s ease;
}

.infor-product {
    opacity: 0;
    position: absolute;
    transition: .7s ease;
    width: 100%;
    top: 40%;
    height: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    overflow: hidden;
}

.infor-product a {
    padding: 10px 15px;
    font-size: 10px;
    text-decoration: none;
    color: black;
    background: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: .9s ease;
    position: absolute;
    left: 42%;
    top: 100%;
}

.infor-product a:hover {
    color: white;
    background: #000;
}

.sale-product {
    color: white;
    background: #E74C3C;
    font-size: 10px;
    position: absolute;
    top: 20px;
    padding: 5px 14px;
    border-radius: 3px;
    font-weight: bold;
    margin-left: 15px;
}

.btn-seemore{
    box-shadow: 0px 12px 39px 0px rgba(0, 0, 0, 0.16);
    color: white !important;
    padding: 18px;
    background: #818a91 !important;
    font-size: 16px !important;
    border: #818a91;
    font-weight: bold;
}
.btn-seemore:hover{
    text-decoration: underline;
    background: #007BFF !important;
}

/* product-information */

.featured-products-information {
    text-align: center;
    margin-top: 100px;
}

.information-features {
    margin: auto;
    color: #7f7f7f;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
}

/* reponsive */

@media all and (max-width:992px) {
    .form-control {
        width: 80% !important;
    }
    .form-inline {
        width: 90% !important;
        margin: auto !important;
    }
    .dropdown-menu {
        background-color: white !important;
        text-align: center;
    }
    .nav-item {
        text-align: center !important;
        margin-right: 0 !important;
    }
    #welcome-shop {
        font-size: 36px !important;
    }
}