*{
    margin:0;
    padding:0;
}
.header{
    width: 100%;
    height: 500px;
    background-image: url(https://www.upsieutoc.com/image/2qFrzB);
    background-size: contain;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.header .menu{
    width: 100%;
    height: 80px;
    box-shadow: 0 2px 5px 0 gray;
    background-color: white;
    position: fixed;
}
.header li{
    padding-left: 2%;
    list-style: none;
    font-size: 17px;
    line-height: 80px;
}
.header ul{
   display: flex;
   margin-left: 3%;
}
.header li:hover{
    color: red;
    cursor: pointer;
}
.content{
    width: 60%;
    height: auto;
    margin-top: 50px;
    text-align: center;
    margin-left: 20%; 
}
.content h1{
    width: 100%;
    color: grey;
}
.content p{
    margin-top: 40px;
    font-size: 20px;
    color: grey ;
    
}
.content2{
    display: flex;
    margin-top: 80px;
    height: 400px;
}
.content2 img{
   margin-top:50px;
   border-radius:50% ;
   margin: 5%;
}
.content2 p{
    width: 50%;
}
.footer{
    width: 100%;
    height:200px;
    margin-top: 45px;
    background-color: grey;
    text-align: center;
    position: relative;
}
.footer h3{
    font-size: 20px;
    text-align: center;
    line-height: 200px;
    color: honeydew;
   
}
.footer .link{
    display: flex;
    margin-left: 50%;
    position: absolute;
    top:170px;
    right: 44.5%;
}
.footer a{
    margin-left:30px ;
    font-size: 30px;
    color: white;
}
.footer a:hover{
    color: red;
}