* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none !important;
}

ul {
    list-style: none !important;
}

/* menu-hidden */

.wrapper {
    position: relative;
}

#hidden-cover {
    width: 100%;
    height: 100%;
}

.menu-hidden {
    position: absolute;
    z-index: 1;
    left: -60%;
    width: 30%;
    height: 100%;
    background-color: white;
    opacity: 1 !important;
}

.cover {
    left: 100%;
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: black;
    background-attachment: fixed;
    z-index: 1;
    opacity: 0.7;
}

.menu-hidden .list-group-left li {
    padding: 10px !important;
}

.menu-hidden .menu-type-right {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.menu-hidden .menu-type-right li {
    border-bottom: 1px solid #eee;
}

/* menu-hidden */

.login-register {
    background-color: #f68e2e;
    line-height: 40px;
}

.btn-login-register {
    font-size: 12px;
}

.slogan {
    font-size: 12px;
}

/* header */

.hidden {
    display: none !important;
}

.image-logo img {
    width: 100%;
    max-width: 100%;
}

/* search input */

.search-input div {
    width: 90%;
    border: 1px solid #f68e2e;
    padding: 5px;
    border-radius: 4px;
}

input[type=text]:focus {
    outline: none;
}

button[type=submit]:focus {
    outline: none !important;
}

.search-input input {
    width: 95%;
    padding: 0px 50px 0px 15px !important;
    height: 40px;
    border: #f68e2e;
    border-radius: 4px;
}

.search-input i {
    height: 40px;
    line-height: 40px;
    border-left: none;
    color: #f68e2e;
}

.search-input button {
    border: none;
    background-color: white;
}

/* cart */

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart i:first-child {
    display: none;
}

.cart i {
    font-size: 20px;
    z-index: 0;
}

/* header */

/* content */

/* menu-left */

.list-group-left {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    /* min-height: 100%; */
}

.list-group-left li {
    padding: 8px !important;
    border: none !important;
    padding-left: 2px !important;
    border-bottom: 1px solid #eee !important;
}

.list-group-left li i {
    font-size: smaller;
    padding: 8px !important;
}

.list-group-left li a {
    color: black !important;
    font-weight: bold;
}

.list-group-left li:hover a {
    color: #f68e2e !important;
}

.list-group-left li:hover {
    cursor: pointer;
    color: #f68e2e !important;
    transition: .5s ease;
}

/* menu-left */

/* menu-right */

.menu-type-right {
    list-style: none;
    display: flex !important;
    justify-content: space-between !important;
}

.menu-type-right li {
    padding: 10px !important;
}

.menu-type-right li a {
    color: black !important;
    font-weight: bold;
}

/* submenu left */

.have-submenu ul {
    display: none;
}

.have-submenu ul li ul {
    display: none !important;
    padding-left: 36px !important;
}

.have-submenu li ul li:last-child {
    border-bottom: none !important;
}

.have-submenu li:last-child {
    border-bottom: none !important;
}

.have-submenu li a {
    color: black !important;
}

.have-submenu ul li a:hover {
    color: black !important;
    transition: .5s ease;
}

.have-submenu:hover ul {
    display: block;
    transition: .5s ease;
}

.have-submenu ul li:hover ul {
    display: block !important;
    transition: .5s ease;
}

/* image-slider */

.image-slider {
    height: 100%;
    width: 100%;
    background-image: url("../assests/slider_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* image-slider */

/* new-products */

/* new-title */

.new-title h2::before {
    border: 2px double #ebebeb;
    border-left: 2px double #fff;
    border-right: 2px double #fff;
    bottom: -5px;
    content: "";
    display: block;
    height: 7px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}

.new-title h2 {
    font-size: 18px;
    line-height: 19px;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 15px !important;
    position: relative;
    letter-spacing: 2px;
    margin-top: 0;
}

.new-product {
    padding: 20px !important;
}

.new-product-detail {
    background-color: #f7f7f7;
}

.new-product:hover .infor {
    cursor: pointer;
    border: 1px solid #f68e2e !important;
}

.new-product:hover .new-product-detail {
    background-color: #f68e2e;
    transition: .5s ease-in-out;
}

.new-product:hover .new-product-detail a {
    color: white !important;
    transition: .8s ease-in-out;
}

.sale {
    top: 10px;
    font-size: 14px;
    font-weight: 500;
    z-index: 0;
    color: #fff;
    background: #e01212;
    border-radius: 3px;
    left: 10px;
    padding: 5px 12px !important;
}

/* new-title*/

/* new-product */

/* room-type */

.room-type {
    z-index: 0;
}

.room-type .type-info {
    overflow: hidden;
}

.room-type .type-info img:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 1s ease;
}

.name-type {
    top: 3%;
    left: 3%;
    display: flex;
    flex-direction: column;
    padding: 20px !important;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
}

.name-type span {
    color: white;
    font-size: smaller;
}

.name-type:hover {
    opacity: 1 !important;
}

/* advertise */

.ad-1 img {
    padding: 2%;
    height: 100%;
    width: 100%;
}

.ad-2 img {
    padding: 2%;
    width: 100%;
    height: 100%;
}

.ad-1 .advertise-infor {
    height: 70%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    right: 10%;
    top: 10%;
}

.advertise-infor a {
    padding: 10px 20px !important;
    background-color: black;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 30px;
}

.ad-2 .advertise-infor {
    height: 70%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    right: 10%;
    top: 10%;
}
.ad-2 .advertise-infor a{
    color: black ;
    background-color: yellow;
}

/* advertise */

/* content */

/* responsive */

@media all and (min-width:1200px) {}

@media all and (max-width: 992px) {
    .slogan {
        text-align: center;
    }
    .btn-login-register {
        display: none;
    }
    .contact-number {
        display: none !important;
    }
    .find-address {
        display: none !important;
    }
    .search-input {
        display: none !important;
    }
    .shop-contact-info {
        justify-content: flex-end !important;
    }
    .hidden {
        display: block !important;
        line-height: 40px;
    }
    .image-logo {
        text-align: center !important;
    }
    .cart {
        display: flex !important;
        flex-direction: row !important;
    }
    .cart i:first-child {
        display: block !important;
        margin-right: 15px !important;
    }
    .all-product-type {
        display: none !important;
    }
    .menu-type-right {
        display: none !important;
    }
    .list-group-left {
        display: none !important;
    }
    .image-slider {
        height: 300px;
    }
    .menu-hidden .list-group-left {
        display: block !important;
    }
    .menu-hidden .menu-type-right {
        display: block !important;
    }
    .name-type {
        font-size: smaller;
    }
    .voucher-special-product .infor {
        height: 150px !important;
        width: fit-content;
        margin: auto !important;
    }
    .voucher-special-product .infor div {
        padding: 15px !important;
    }
}

@media all and (max-width: 768px) {
    .name-type {
        font-size: smaller;
    }
    .advertise-infor{
        font-size: smaller !important;
    }
}

@media all and (max-width: 576px) {
    .name-type {
        font-size: smaller;
    }
}